/*******
COLOR CHEAT SHEET
https://coolors.co/335c67-515d46-fff3b0-e09f3e-9e2a2b-540b0e-1f0a0b
335c67 - dark teal
515d46 - olive green
fff3b0 - beige
e09f3e - burnt yellow
9e2a2b - bright red
540b0e - dark red
1f0a0b - red brown


*****/


/************************/
/******** FONTS *********/
/************************/
body, p, div{
    font-family: "Nunito", sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "DM Serif Text", serif;
}


/************************/
/******** HERO *********/
/************************/

header.masthead{
    background: url("https://www.publicdomainpictures.net/pictures/200000/velka/chicago-cloud-gate-147904607276o.jpg");
    background-size: 158%;
    opacity: 95%
}

.masthead h1{
    color:#e09f3e;
    text-shadow: 4px 2px 5px whitesmoke;
    font-size: 75px !important;
}

.masthead p {
    color:#540b0e;
    font-weight: 800;
    text-shadow: 2px 2px 5px whitesmoke;
    font-size: 1.5em !important;

}